@use "@/styles/functions" as f;
@use "@/styles/variables" as *;
@use "@/styles/mixins" as m;
@use "@/styles/keyframes" as *;

.category-filter {
	$handle-size: 24;

	@include m.glassyBorder(45deg);
	position: fixed;
	z-index: 2;
	//flex нужен, чтобы размер &__list был не больше чем доступное пространство и прокручивался
	display: flex;
	flex-direction: column;
	inline-size: 100%;
	block-size: 100%;
	padding: 0 0 calc(8dvh + f.rem(30));
	user-select: none;
	background-color: f.cl($cd-glass-background, $a: 0.45);
	border-radius: f.rem(14) f.rem(14) 0 0;
	backdrop-filter: $liquid-blur-d;
	transition:
		top 0.4s,
		background-color 0.4s;

	[data-theme="light"] & {
		backdrop-filter: $liquid-blur-l;
	}

	[data-theme="dark"] &[aria-expanded="true"] {
		background-color: f.cl($cd-glass-background, $a: 0.65, $l: 0);
	}

	&[data-dragging="true"] {
		transition: none;
	}

	&[aria-expanded="true"] {
		top: 8dvh;
	}
	&[aria-expanded="false"] {
		top: calc(100dvh - f.rem($handle-size * 2));

		@include m.adaptive(mobile) {
			top: calc(100dvh - f.rem($handle-size));
		}
	}

	&__handle {
		display: grid;
		place-items: center;
		block-size: f.rem($handle-size) * 2;

		@include m.adaptive(mobile) {
			block-size: f.rem($handle-size);
		}

		&::after {
			inline-size: f.rem(40 * 2);
			block-size: f.rem(4 * 2);
			content: "";
			background-color: f.cl($cd-accent, $a: 0.25);
			border-radius: 100vw;

			@include m.adaptive(mobile) {
				inline-size: f.rem(40);
				block-size: f.rem(4);
			}
		}
	}

	&__list {
		block-size: 100%;
		padding: 0 f.rem($handle-size * 2);
		overflow-y: auto;
		font-size: f.rem(18 * 2);
		mask: linear-gradient(to bottom, #0000, #000 5% 95%, #0000);

		@include m.adaptive(mobile) {
			padding: 0 f.rem($handle-size);
			font-size: f.rem(18);
		}
	}
}
